<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Title</title>


</head>
<body>


<h1>Welcome!</h1>
<p></p>

<h2>Select Your Hair Type</h2>

<br />

<div>
    <img src="../static/img/3aa.png" width="100"
         th:src="@{img/3aa.png}"/>
    <h3>3A</h3>
</div>

<p></p>

<div>
    <img src="../static/img/3bhair.jpg" width="100"
         th:src="@{img/3bhair.jpg}"/>
    <h3>3B</h3>
</div>

<p></p>

<div>
    <img src="../static/img/3chair.jpg" width="100"
         th:src="@{img/3chair.jpg}"/>
    <h3>3C</h3>
</div>

<p></p>

<div>
    <img src="../static/img/4ahair.jpg" width="100"
         th:src="@{img/4ahair.jpg}"/>
    <h3>4A</h3>
</div>

<p></p>

<div>
    <img src="../static/img/4bhair.jpg" width="100"
         th:src="@{img/4bhair.jpg}"/>
    <h3>4B</h3>
</div>

<p></p>

<div>
    <img src="../static/img/4chair.jpeg" width="100"
         th:src="@{img/4chair.jpeg}"/>
    <h3>4C</h3>
</div>
<!--/*
<form name='f' th:object="${personForm}" method='POST'>
    <table>
        <tr>
            <td>Select Hair Type:</td>
            <td>
                <select th:field="*{typeId}">
                    <option value=""> -- </option>
                    <option th:each="hairs : ${hair}"
                            th:value="${hairs.typeId}"
                            th:utext="${hairs.typeName}"/>
                </select>

            </td>
        </tr>

        <tr>
            <td><input name="submit" type="submit" value="submit" /></td>
        </tr>
    </table>
</form>
*/-->

<form th:object="${personForm}" method="post">
    <fieldset>
        <legend>Your Hair Type</legend>
        <ul>
            <li th:each="hairs : ${hair}">
                <input type="radio" name="selectHair" th:field="${personForm.typeId}" th:value="${hairs.typeId}" />
                <label th:for="${hairs.typeId}" th:text="${hairs.typeName}"></label>
                <span th:errors="*{typeId}" class="error"></span>
            </li>
        </ul>
    </fieldset>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>



</body>
</html>