<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Hair We Go!</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link href="../static/css/sketch.css" th:href="@{/css/sketch.css}" rel="stylesheet"/>


</head>
<body>
<div th:fragment="navigation">
    <div th:if="${user}">

        <nav class="user-nav">
            <a href="/logout">Log Out</a>
        </nav>
    </div>

    <div th:unless="${user}">
        <nav>
            <a href="/login">Log In</a> |
            <a href="/register">Register</a>

        </nav>
    </div>
</div>

</body>
</html>