<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${title}">Title</title>

    <link href="../static/css/sketch.css" th:href="@{/css/sketch.css}" rel="stylesheet"/>
</head>
    <title>Title</title>
</head>
<body>


<h2 class="post-title" th:text="${ post.title }">post title</h2>
<p class="post-body" th:text="${ post.body }">post body</p>
<!-- TODO add author w/ link to author's blog -->
<p class="post-author">

</p>

</body>
</html>