<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:form="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Title</title>
</head>
<body>
<h1 th:text="${title}"/>

<form method ="post" commandName="hairData">
    <table>
        <div>
            <input type="radio" th:field="*{typeHair}" th:value="Strategy" checked="true">
            <label th:for="${#ids.prev('typeHair')}">Strategy</label>
        </div>
        <div>
            <input type="radio" th:field="*{typeHair}" th:value="RPG">
            <label th:for="${#ids.prev('typeHair')}">RPG</label>
        </div>
        <div>
            <input type="radio" th:field="*{typeHair}" th:value="Stealth">
            <label th:for="${#ids.prev('typeHair')}">Stealth</label>
        </div>
    </table>
    <p th:unless="${hairTypes} and ${hairTypes.size()}"/>no hair types :(</p>



</form>



</body>
</html>